body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:58px;
  top:40px;
  width:472px;
  height:800px;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:50px;
  top:40px;
  width:480px;
  height:690px;
}
#u3 {
  position:absolute;
  left:139px;
  top:53px;
  width:375px;
  height:50px;
  font-size:20px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:150px;
  top:56px;
  width:40px;
  height:45px;
  font-size:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:45px;
}
#u6 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:199px;
  top:65px;
  width:42px;
  height:23px;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:23px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:658px;
  top:67px;
  width:661px;
  height:46px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:46px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:58px;
  top:730px;
  width:472px;
  height:110px;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:110px;
}
#u12 {
  position:absolute;
  left:2px;
  top:44px;
  width:468px;
  word-wrap:break-word;
}
