body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:210px;
  top:20px;
  width:760px;
  height:440px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:440px;
}
#u1 {
  position:absolute;
  left:2px;
  top:212px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:210px;
  top:80px;
  width:210px;
  height:380px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:380px;
}
#u3 {
  position:absolute;
  left:2px;
  top:182px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:210px;
  top:20px;
  width:760px;
  height:60px;
  font-size:26px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:756px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:264px;
  top:121px;
  width:100px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:264px;
  top:181px;
  width:100px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:264px;
  top:241px;
  width:100px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:264px;
  top:301px;
  width:100px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:420px;
  top:80px;
  width:270px;
  height:131px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:131px;
}
#u15 {
  position:absolute;
  left:2px;
  top:58px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:430px;
  top:90px;
  width:100px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:570px;
  top:90px;
  width:100px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:570px;
  top:150px;
  width:100px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:430px;
  top:150px;
  width:100px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:690px;
  top:80px;
  width:280px;
  height:131px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:131px;
}
#u25 {
  position:absolute;
  left:2px;
  top:58px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:825px;
  top:104px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:825px;
  top:124px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:825px;
  top:143px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:825px;
  top:162px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:420px;
  top:241px;
  width:550px;
  height:219px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:219px;
}
#u35 {
  position:absolute;
  left:2px;
  top:102px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:435px;
  top:218px;
  width:130px;
  height:22px;
  font-size:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:440px;
  top:260px;
  width:520px;
  height:180px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:180px;
}
#u39 {
  position:absolute;
  left:2px;
  top:82px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:450px;
  top:230px;
  width:490px;
  height:199px;
  font-family:'Iaxurefont Regular', 'Iaxurefont';
  font-weight:500;
  font-size:184px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:199px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:710px;
  top:104px;
  width:115px;
  height:96px;
  font-family:'Iaxurefont Regular', 'Iaxurefont';
  font-weight:500;
  font-size:76px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:96px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
