body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:31px;
  top:115px;
  width:322px;
  height:55px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:55px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:32px;
  top:117px;
  width:320px;
  height:13px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:148px;
  top:137px;
  width:84px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:21px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:26px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:138px;
  width:22px;
  height:22px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u9 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:60px;
  top:240px;
  width:60px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:70px;
  top:310px;
  width:39px;
  height:15px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:162px;
  top:240px;
  width:60px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:172px;
  top:310px;
  width:39px;
  height:15px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:260px;
  top:240px;
  width:60px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:264px;
  top:310px;
  width:52px;
  height:15px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:60px;
  top:382px;
  width:60px;
  height:60px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:64px;
  top:452px;
  width:52px;
  height:15px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:162px;
  top:382px;
  width:60px;
  height:60px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:178px;
  top:452px;
  width:27px;
  height:15px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
