body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:30px;
  width:480px;
  height:800px;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:79px;
  top:94px;
  width:461px;
  height:731px;
}
#u3 {
  position:absolute;
  left:87px;
  top:42px;
  width:43px;
  height:48px;
  font-size:20px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:48px;
}
#u4 {
  position:absolute;
  left:2px;
  top:16px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:145px;
  top:50px;
  width:100px;
  height:29px;
  font-size:25px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:620px;
  top:30px;
  width:300px;
  height:70px;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:70px;
  top:89px;
  width:480px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:480px;
  height:1px;
}
