body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1591px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:42px;
  width:480px;
  height:788px;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:788px;
}
#u1 {
  position:absolute;
  left:2px;
  top:386px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:120px;
  top:42px;
  width:480px;
  height:728px;
}
#u3 {
  position:absolute;
  left:162px;
  top:50px;
  width:308px;
  height:50px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:50px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:20px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4 {
  position:absolute;
  left:120px;
  top:765px;
  width:160px;
  height:65px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
}
#u5 {
  position:absolute;
  left:2px;
  top:21px;
  width:156px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:280px;
  top:765px;
  width:160px;
  height:65px;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
}
#u7 {
  position:absolute;
  left:2px;
  top:21px;
  width:156px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:440px;
  top:765px;
  width:160px;
  height:65px;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:65px;
}
#u9 {
  position:absolute;
  left:2px;
  top:21px;
  width:156px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:162px;
  top:58px;
  width:38px;
  height:34px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u11 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:550px;
  top:106px;
  width:39px;
  height:44px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:44px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:144px;
  top:778px;
  width:39px;
  height:38px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:38px;
}
#u15 {
  position:absolute;
  left:2px;
  top:11px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:303px;
  top:778px;
  width:39px;
  height:38px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:38px;
}
#u17 {
  position:absolute;
  left:2px;
  top:11px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:450px;
  top:778px;
  width:50px;
  height:38px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:38px;
}
#u19 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:750px;
  top:75px;
  width:841px;
  height:140px;
  font-size:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:140px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:544px;
  top:145px;
  width:52px;
  height:89px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:89px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:120px;
  top:42px;
  width:350px;
  height:788px;
  overflow:hidden;
  visibility:hidden;
}
#u24_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:788px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:788px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:788px;
}
#u26 {
  position:absolute;
  left:2px;
  top:386px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:31px;
  top:71px;
  width:96px;
  height:94px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:94px;
}
#u28 {
  position:absolute;
  left:2px;
  top:39px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:37px;
  top:188px;
  width:98px;
  height:31px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:31px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:0px;
  top:224px;
  width:330px;
  height:564px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:564px;
}
#u32 {
  position:absolute;
  left:2px;
  top:274px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:22px;
  top:260px;
}
#u33_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u35 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:81px;
  top:15px;
  width:81px;
  height:15px;
  font-size:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:22px;
  top:349px;
}
#u38_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u38_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u40 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:81px;
  top:15px;
  width:81px;
  height:15px;
  font-size:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:22px;
  top:439px;
}
#u43_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u43_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u45 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:81px;
  top:14px;
  width:81px;
  height:15px;
  font-size:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:22px;
  top:530px;
}
#u48_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u48_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u50 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:81px;
  top:14px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:123px;
  top:55px;
  width:35px;
  height:40px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u54 {
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
