body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1088px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:20px;
  width:480px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:90px;
  top:41px;
  width:40px;
  height:41px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:140px;
  top:41px;
  width:145px;
  height:41px;
  font-size:36px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:70px;
  top:96px;
  width:480px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:480px;
  height:1px;
}
#u7 {
  position:absolute;
  left:85px;
  top:116px;
  width:460px;
  height:114px;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:114px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:627px;
  top:130px;
  width:461px;
  height:40px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:40px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:83px;
  top:570px;
  width:460px;
  height:100px;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:100px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:85px;
  top:350px;
  width:445px;
  height:200px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:200px;
}
#u14 {
  position:absolute;
  left:2px;
  top:92px;
  width:441px;
  visibility:hidden;
  word-wrap:break-word;
}
