body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1160px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:50px;
  width:480px;
  height:800px;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:157px;
  top:59px;
  width:375px;
  height:51px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:20px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u3 {
  position:absolute;
  left:97px;
  top:67px;
  width:36px;
  height:38px;
  font-size:20px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:38px;
}
#u4 {
  position:absolute;
  left:2px;
  top:11px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:483px;
  top:69px;
  width:36px;
  height:38px;
  font-size:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:38px;
}
#u6 {
  position:absolute;
  left:2px;
  top:11px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:108px;
  top:150px;
  width:71px;
  height:63px;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:63px;
}
#u8 {
  position:absolute;
  left:2px;
  top:24px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:118px;
  top:222px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:228px;
  top:137px;
  width:69px;
  height:73px;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:73px;
}
#u12 {
  position:absolute;
  left:2px;
  top:28px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:238px;
  top:220px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:350px;
  top:137px;
  width:69px;
  height:73px;
  font-size:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:73px;
}
#u16 {
  position:absolute;
  left:2px;
  top:28px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:360px;
  top:220px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:464px;
  top:136px;
  width:69px;
  height:73px;
  font-size:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:73px;
}
#u20 {
  position:absolute;
  left:2px;
  top:28px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:477px;
  top:219px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:108px;
  top:284px;
  width:69px;
  height:73px;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:73px;
}
#u24 {
  position:absolute;
  left:2px;
  top:28px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:120px;
  top:365px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:222px;
  top:284px;
  width:69px;
  height:73px;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:73px;
}
#u28 {
  position:absolute;
  left:2px;
  top:28px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:228px;
  top:365px;
  width:61px;
  height:23px;
  font-size:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:350px;
  top:284px;
  width:69px;
  height:73px;
  font-size:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:73px;
}
#u32 {
  position:absolute;
  left:2px;
  top:28px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:356px;
  top:365px;
  width:61px;
  height:23px;
  font-size:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:464px;
  top:283px;
  width:69px;
  height:73px;
  font-size:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:73px;
}
#u36 {
  position:absolute;
  left:2px;
  top:28px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:478px;
  top:365px;
  width:41px;
  height:23px;
  font-size:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:23px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:80px;
  top:425px;
  width:480px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:480px;
  height:1px;
}
#u40 {
  position:absolute;
  left:91px;
  top:540px;
}
#u40_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u40_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
  font-size:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u42 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:65px;
  top:9px;
  width:61px;
  height:23px;
  font-size:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:91px;
  top:463px;
}
#u45_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u45_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
  font-size:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u47 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:65px;
  top:10px;
  width:61px;
  height:23px;
  font-size:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:608px;
  top:69px;
  width:552px;
  height:111px;
  font-size:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:111px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:122px;
  top:233px;
  width:410px;
  height:155px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:155px;
}
#u54 {
  position:absolute;
  left:2px;
  top:70px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:260px;
  top:289px;
  width:161px;
  height:23px;
  font-size:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:23px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:498px;
  top:242px;
  width:34px;
  height:29px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:29px;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
