body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:96px;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:96px;
}
#u3 {
  position:absolute;
  left:2px;
  top:28px;
  width:476px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:154px;
  top:643px;
  width:211px;
  height:48px;
  font-size:24px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:48px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:19px;
  top:29px;
  width:48px;
  height:38px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:38px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:169px;
  top:233px;
  width:161px;
  height:37px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:140px;
  top:310px;
  width:161px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:15px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:154px;
  top:710px;
  width:211px;
  height:48px;
  font-size:24px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:48px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:252px;
  top:310px;
  width:32px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
